# --- Python & Cache ---
__pycache__/
*.py[cod]
*.ipynb_checkpoints/

# --- Logs Airflow ---
logs/

# --- Infrastructure & Volumes Docker ---
localstack_data/
postgres_data/

# --- Données (Data) ---
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# --- Environnement & Configuration locale ---
.env
.venv/
venv/
env/

# --- IDE & Système ---
.idea/
.vscode/
.DS_Store
Thumbs.db

# --- fichiers persos ---
README_COPILOT.md
README_testdata.md
rapport.md
explore_data.ipynb
