# --- Python & Cache ---
__pycache__/
*.py[cod]
*.ipynb_checkpoints/

# --- Logs Airflow ---
logs/

# --- Infrastructure & Volumes Docker ---
localstack_data/
postgres_data/

# --- Données (Data) ---
data/raw/
data/processed/

# --- Environnement & Configuration locale ---
.env
.venv/
venv/
env/

# --- IDE & Système ---
.idea/
.vscode/
.DS_Store
Thumbs.db

# --- md persos ---
README_CPOILOT.md
README_testdata.md
rapport.md